<div class="container">
  <ol class="finder feed">
    <h1 class="finder center">Favorite Articles</h1>
    <% @favorites.each do |entry| %>
      <li class="finder">
        <%= link_to entry.title, entry.url, :target => '_blank', :class => 'article' %>
        <%= link_to "Favorite", favorites_path(:article_id => entry.id), :class => 'btn btn-sm btn-success finder' %>
      </li>
    <% end %>
  </ol>
</div>
