<div class="container">
  <h1 class="finder">NY Times Technology</h1>
  <ol class="finder">
    <% @feed.entries.each do |entry| %>
      <li class="finder"><%= link_to entry.title, entry.url, :target => '_blank' %></li>
    <% end %>
  </ol>
</div>
