<div class="container">
  <ol class="finder">
  <h1 class="finder center">NY Times Technology</h1>
    <% @articles.each do |entry| %>
      <li class="finder">
        <%= link_to entry.title, entry.url, :target => '_blank', :class => 'article' %>
        <button type="button" class="btn btn-sm btn-success finder" id="fave-<%= entry.id %>">Favorite</button>
      </li>
    <% end %>
  </ol>
</div>
